<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
    <script src="/public/js/subject.js"></script>
    <script src="/public/js/class.js"></script>
    <script src="/public/js/score.js"></script>
    <script src="/public/js/student.js"></script>
    <script src="/public/js/teacher.js"></script>
    <script src="/public/js/account.js"></script>
    <script src="/public/js/schedule.js"></script>
</head>

<body>
    <div class="sidebar">
        <h2>Student management</h2>
        <button onclick="window.location.href='/'">Infomation</button>
        <input type="hidden" id="ID" value="<%= data.id %>">
        <input type="hidden" id="userEmail" value="<%= data.email %>">
        <% switch (data.role) { case 'admin' : %>
            <button onclick="showClass()">Class</button>
            <button onclick="filterChange(0)">Student</button>
            <button onclick="showTeacher()">Teacher</button>
            <button onclick="showSubject()">Subject</button>
            <% break; case 'teacher' : %>
                <button onclick="showSchedule()">Schedule</button>
                <button onclick="showSubjectTeacher()">Subject</button>
                <% break; case 'student' : %>
                    <button onclick="showScheduleStudent()">Schedule</button>
                    <button onclick="showScore()">Result</button>
                    <button onclick="showSubjectForRegister()">Register subject</button>
                    <% break; } %>
    </div>

    <div style="display: block; width: 90%;">
        <div id="search" style="margin-top: 3px; display: none; justify-content: center; 
            align-items: center; flex-wrap: wrap;">

            <div class="form-group" style="display: flex; flex-direction: column;">
                <label for="classFilter" style="margin-bottom: 5px; font-weight: bold;">Class:</label>
                <select id="classFilter"
                    style="padding: 5px; width: 200px; border: 1px solid #ccc; border-radius: 5px;">
                    <option value="">None</option>
                </select>
            </div>

            <div class="form-group" style="display: flex; flex-direction: column; margin-left: 10px;">
                <label for="GPAFilter" style="margin-bottom: 5px; font-weight: bold;">GPA:</label>
                <input type="number" step="0.5" id="min_gpa" placeholder="min gpa" value="">
                <input type="number" step="0.5" id="max_gpa" placeholder="max gpa" value="">
            </div>

            <button onclick="filterChange(1)"
                style="padding: 10px 20px; margin-top: 5px; background-color: #1f2a40; color: white; margin-left: 10px;">
                Filter
            </button>

            <button onclick="restoreFilter()"
                style="padding: 10px 20px; margin-top: 5px; background-color: #1f2a40; color: white; margin-left: 10px;">
                Restore
            </button>
            <button onclick="exportExcel()"
                style="padding: 10px 20px; margin-top: 5px; background-color: #1f2a40; color: white; margin-left: 10px;">
                Export
            </button>
        </div>

        <div class="main" id="mainContent">
            <h3>Welcome to student management</h3>
            <div style="display: flex; gap: 20px; margin-top: 20px;">
                <div
                    style="flex: 1; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #fff;">
                    <h4>Infomation</h4>
                    <p><strong>Name:</strong>
                        <%= data.name %>
                    </p>
                    <p><strong>Role:</strong>
                        <% switch (data.role) { case 'admin' : %>
                            Admin
                            <% break; case 'teacher' : %>
                                Teacher
                                <% break; case 'student' : %>
                                    Student
                                    <% break; } %>
                    </p>
                    <% if (data.role !='admin' ){ %>
                        <p style="font-size: 13px;"><a href="#" onclick="changePassword()">Change password</a></p>
                        <% } %>
                </div>

                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <button onclick="logout()"
                        style="padding: 10px 20px; border: none; background-color: #dc3545; color: white; border-radius: 5px; cursor: pointer;">
                        Logout
                    </button>
                </div>
            </div>
        </div>
        <div id="pagging" style="display: none; margin-top: 5px; align-items: center; justify-items: center;"></div>
    </div>

</body>
<script>
    function logout() {
        $.ajax({
            url: '/account/logout',
            type: 'GET',
        }).then(response => {
            if (response.success) {
                alert("Logout successful!");
                window.location.href = "/";
            } else {
                alert("logout unsuccesfully");
            }
        }).catch(error => {
            alert("An error occurred while logging out.");
        });
    }
</script>

</html>