<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Student Management</title>
  <link rel="stylesheet" href="/public/css/home.css">
  <script src="/public/js/home.js"></script>
</head>

<body>

  <div class="sidebar">
    <h2>Student Manager</h2>
    <button onclick="showHome()">Home</button>
    <button onclick="showScore()">Score</button>
    <button onclick="showAdd()">Add</button>
  </div>

  <div class="main" id="mainContent">
    <h1>Welcome to Student Management System</h1>
  </div>

</body>

</html>